/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* shared styles  */
* {
    margin: 0;
}

/* Banner Part  */
.banner {
    margin: 50px 140px 120px 140px;
    /* width: 82.5%; */
    background-image: url('../resources/Banner\ Image.png');
    border-radius: 16px;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-text {
    padding: 125px 125px;
}

.banner h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 26.4px;
    font-weight: 400;
}

.banner h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 59.4px;
    font-weight: 900;
}

/* 65% off section  */
.off-section {}

.off-section h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72.6px;
    font-weight: 700;
    margin-bottom: 39.6px;
}

.off-section p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    /* font-size: 19.8px; */
    font-weight: 500;
}

.off-section h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 39.6px;
    font-weight: 700;
}

.off-section .img-section img {
    width: 662.39px;
    height: 412.5px;
}

.img-section {
    text-align: center;
    margin-top: 39.6px;
}

/* Welcome section  */
.welcome {
    margin: 99px 115.5px;
    background-image: url('../resources/Vectorrr.png');
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 75px 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.welcome-header {
    color: #FFF;
    font-family: Merriweather;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
}

.welcome-desc {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    /* font-size: 14.85px; */
    font-style: normal;
    font-weight: 400;
    margin-top: 16px;
}

.welcome .img-section img {
    width: 288.06px;
    height: 383.33px;
    flex-shrink: 0;
}

.join-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    margin-top: 39.6px;
    background: #3b9b3b;
    padding: 15px;
}

/* Event info  */
.event-info {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 100px;
    margin: 120px 140px;
}

.event-info h1 {
    color: #070211;
    font-family: Inter;
    font-size: 26.4px;
    font-weight: 600;
    line-height: 46.2px;
}

.event-info button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
}

.red-text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 26.4px;
    font-weight: 600;
    line-height: 46.2px;
    text-transform: capitalize;
}

/* New Best Offer Section  */
.offer-box h3 {
    color: #F00;
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 500;
}

.offer-box h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 39.6px;
    font-weight: 900;
}

.offer-box p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 26.4px;
    /* 160% */
}

.offer-box .meow {
    color: #F00;
    font-family: Inter;
    font-size: 39.6px;
    font-weight: 700;
}

.offer-box {
    display: flex;
    justify-content: space-between;
    margin: 0 140px;
    background: #FFF;
}

.new-offer-1 {
    margin-right: 70px;
    /* margin-left: 35px; */
}

.new-offer-2 {
    margin-right: 35px;
    margin-left: 70px;
}

.offer-box .img-section img {
    width: 300.9963px;
    height: 300.9963px;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 15px;
}

.new-offer img {
    width: 115.5px;
    height: 115.5px;
}

/* Coming Soon Section  */
.coming-soon {
    text-align: center;
    margin: 120px 140px;
    /* padding: 120px 140px; */
    padding-top: 120px;
    background: url('../resources/Rectangle\ 1.png'), url('../resources/Group\ 44.png');
    background-repeat: no-repeat;
    background-position: bottom right, top right;
}

.coming-soon h3 {
    color: #070211;
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 500;
}

.coming-soon h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 59.4px;
    font-weight: 900;
}

.coming-soon-red {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 59.4px;
    font-weight: 900;
}

.coming-soon p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 26.6px;
    margin-top: 10px;
    /* 160% */
}


/* Portfolio section  */
.portfolio {
    margin: 24px;
}

.portfolio-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 19.8px;
    font-weight: 500;
}

.portfolio-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 39.6px;
    font-weight: 900;
}

.portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 400;
    line-height: 26.4px;
    /* 160% */
}

.portfolio img {
    width: 349.8px;
    height: 371.25px;
    border-radius: 16px;
    border: 0;
}

.portfolio-img img:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2)
}

.img-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 16.5px 0;
}

.img-section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Subscribe part  */
.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    border: 0;
    margin: 140px 120px;
    padding: 120px;
}

.input-field input[type="submit"] {
    border-radius: 0px 41.25px 41.25px 0px;
    /* border-top-left-radius: 41.25px;
    border-bottom-left-radius: 41.25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; */
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 600;
    padding: 10px;
    margin-right: 0;
}

.input-field input[type="email"] {
    border-radius: 41.25px;
    /* border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 41.25px;
    border-bottom-left-radius: 41.25px; */
    background: #FFF;
    border: 0;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 14.85px;
    font-weight: 400;
    padding: 10px;
    margin-left: 0;
}

.subscribe h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 39.6px;
    font-weight: 900;
    text-transform: capitalize;
}

.subscribe p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 400;
}

.subscribe img {
    width: 123.75px;
    height: 123.75px;
    flex-shrink: 0;
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    margin-top: 15px;
    text-align: center;
}

/* Footer part  */
.footer {
    background: #070211;
}

.info-container {
    display: flex;
}

.footer-text {
    color: #FFF;
    font-family: Inter;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    padding: 99px 115px 40px;
}

.footer-links {
    color: #FFF;
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 33px;
    text-align: right;
    padding: 99px 115px 40px;
    /* 166.667% */
}

hr {
    background: rgba(255, 255, 255, 0.15);
    margin: 0 100px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 39px 0;
}

.social-icons img {
    padding-right: 24px;
    width: 52.8px;

}

.ending-texts {
    color: #FFF;
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 500;
    display: flex;
    margin-top: 38px;
    padding-bottom: 38px;
    justify-content: space-between;

}

.rights-reserved {
    padding-left: 99px;
}

.unsubscribe {
    padding-right: 99px;
}