/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* shared styles  */
* {
    margin: 0;
}

/* Banner Part  */
.banner {
    margin: 50px 140px 120px 140px;
    /* width: 82.5%; */
    background-image: url('../resources/Banner\ Image.png');
    border-radius: 16px;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-text {
    padding: 125px 125px;
}

.banner h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 26.4px;
    font-weight: 400;
}

.banner h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 59.4px;
    font-weight: 900;
}

/* 65% off section  */
.off-section {}

.off-section h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72.6px;
    font-weight: 700;
    margin-bottom: 39.6px;
}

.off-section p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    /* font-size: 19.8px; */
    font-weight: 500;
}

.off-section h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 39.6px;
    font-weight: 700;
}

.off-section .img-section img {
    width: 662.39px;
    height: 412.5px;
}

.img-section {
    text-align: center;
    margin-top: 39.6px;
}

/* Welcome section  */
.welcome {
    margin: 99px 115.5px;
    background-image: url('../resources/Vectorrr.png');
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 75px 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.welcome-header {
    color: #FFF;
    font-family: Merriweather;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
}

.welcome-desc {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    /* font-size: 14.85px; */
    font-style: normal;
    font-weight: 400;
    margin-top: 16px;
}

.welcome .img-section img {
    width: 288.06px;
    height: 383.33px;
    flex-shrink: 0;
}

.join-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    margin-top: 39.6px;
}

/* Portfolio section  */
.portfolio {
    margin: 24px;
}

.portfolio-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 19.8px;
    font-weight: 500;
}

.portfolio-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 39.6px;
    font-weight: 900;
}

.portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 400;
    line-height: 26.4px;
    /* 160% */
}

.portfolio img {
    width: 349.8px;
    height: 371.25px;
    border-radius: 16px;
    border: 0;
}

.img-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 16.5px 0;
}

.img-section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}